<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="OpenSMIL.Server.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="OpenSMIL.Server.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/OpenSMIL.Server/Service1/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="OpenSMIL.Server.Layouts.OpenSMIL.Server.OpenSMIL.Service2">
                <endpoint address="" binding="basicHttpBinding" contract="OpenSMIL.Server.Layouts.OpenSMIL.Server.OpenSMIL.IService2">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/OpenSMIL.Server.Layouts.OpenSMIL.Server.OpenSMIL/Service2/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
