*.ascx.g.cs
OpenSMIL.Client/obj/
OpenSMIL.CustomActions/bin/
OpenSMIL.CustomActions/obj/
OpenSMIL.CustomActions/pkg/
OpenSMIL.CustomActions/pkgobj/Debug/OpenSMIL.CustomActions_OpenSMIL.Export.Power.View_Feature.xml
OpenSMIL.CustomActions/pkgobj/
OpenSMIL.Fields.Geometry/bin/Debug/OpenSMIL.Fields.Geometry.wsp
OpenSMIL.Fields.Geometry/obj/Debug/OpenSMIL.Fields.Geometry.csproj.FileListAbsolute.txt
OpenSMIL.Fields.Geometry/obj/Debug/OpenSMIL.Fields.Geometry.csproj.PackageFileList.txt
OpenSMIL.Fields.Geometry/obj/
OpenSMIL.Fields.Geometry/pkg/Debug/OpenSMIL.Fields.Geometry/Layouts/OpenSMIL/img/broom.png
OpenSMIL.Fields.Geometry/pkg/Debug/OpenSMIL.Fields.Geometry/Layouts/OpenSMIL/img/hand.png
OpenSMIL.Fields.Geometry/pkg/
OpenSMIL.Fields.Geometry/pkgobj/
OpenSMIL.Fields.ValidateAddress/obj/
OpenSMIL.Fields.ValidateAddress/pkg/
OpenSMIL.Fields.ValidateAddress/pkgobj/
OpenSMIL.MobileClient/bin/
OpenSMIL.MobileClient/obj/
OpenSMIL.MobileClient/pkg/
OpenSMIL.MobileClient/pkgobj/
OpenSMIL.Out/obj/
OpenSMIL.OutWeb/obj/
OpenSMIL.Server.BingServices/bin/
OpenSMIL.Server.BingServices/obj/
OpenSMIL.Server.BingServices/pkg/
OpenSMIL.Server.BingServices/pkgobj/
OpenSMIL.Server.Extensions/bin/
OpenSMIL.Server.Extensions/obj/
OpenSMIL.Server.Extensions/pkg/
OpenSMIL.Server.Extensions/pkgobj/
OpenSMIL.Server.ExternalReferences/obj/
OpenSMIL.Server.ExternalReferences/bin/
OpenSMIL.Server.ExternalReferences/pkg/
OpenSMIL.Server.ExternalReferences/pkgobj/
OpenSMIL.Server.IO/obj/
OpenSMIL.Server.IO/pkg/
OpenSMIL.Server.IO/pkgobj/
OpenSMIL.Server.SMILLayers/bin/
OpenSMIL.Server.SMILLayers/obj/
OpenSMIL.Server.SMILLayers/pkg/
OpenSMIL.Server.SMILLayers/pkgobj/
OpenSMIL.Server.SPBase/bin/
OpenSMIL.Server.SPBase/obj/
OpenSMIL.Server.SPBase/pkg/Debug/OpenSMIL.Server.SPBase/manifest.xml
OpenSMIL.Server.SPBase/pkgobj/
OpenSMIL.Server.SimpleFeature/bin/
OpenSMIL.Server.SimpleFeature/obj/
OpenSMIL.Server.SimpleFeature/pkg/
OpenSMIL.Server.SimpleFeature/pkgobj/
OpenSMIL.Server/bin/
OpenSMIL.Server/obj/
OpenSMIL.Server/pkg/
OpenSMIL.Server/pkgobj/
